.container{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.outletContainer{
    width: 83%;
}
.backgroundColor {
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.81);
}